body {
    background-position: center;
    background-size: cover;
}
.heading_wash{
    width: 100%;
    height: 55px;
    margin-top: 0px;
    font-weight: 600 ;
    font-size: 33px;
    padding: 2px;
    box-shadow: 7px 6px 7px white;
}
img{
    width: 300px;
    height: 300px;
}
#back_wash{
    float: right;
    margin-top: 5px;
    width: 100px;
    height:35px;
    font-size: 20px;
    padding: 2px;
    color: black !important;
}
#status_wash{
    width: 150px;
    height: 40px;
    font-size: 24px;
    padding: 2px;
}
canvas {
    background-color: white;
    margin-top: 70px;
    box-shadow: 5px 7px 3px pink;
    border-radius: 30px;
    border: ridge black 3px;
}